<h1><%= @restaurant.name %></h1>


<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> ||  <%= review.rating %> || <%= link_to "ðŸ—‘", review_path(review),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to "âœŽ", edit_restaurant_path(@restaurant) %> |
<%= link_to "ðŸ—‘",
            restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?" } %> |
<%= link_to 'â˜…â˜…â˜…â˜…', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'ðŸ ', restaurants_path %> |
